body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Papyrus' 'fantasy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5c70d1;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.width-100 {
  width: 100vw;
}

.width-50 {
  width: 50vw;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}